@import "tailwindcss";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #0a0e27;
  color: white;
}

.neon-text {
  text-shadow:
    0 0 5px #ff00ffd5,
    0 0 10px #ff00ffd5,
    0 0 20px #ff00ffd5,
    0 0 40px #ff00ffd5;
}

.neon-button {
  box-shadow:
    0 0 5px #00f0ff,
    0 0 15px #00f0ff,
    0 0 30px #00f0ff;
}

html {
  scroll-behavior: smooth;
}

.float {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease;
}

@keyframes smoke {
  0% {
    transform: translateY(40px);
    opacity: 0.4;
  }
  50% {
    transform: translateY(-40px);
    opacity: 0.6;
  }
  100% {
    transform: translateY(40px);
    opacity: 0.4;
  }
}

.animate-smoke {
  animation: smoke 8s ease-in-out infinite;
}

@keyframes ray {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  30% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(20%);
    opacity: 0;
  }
}

.animate-ray {
  animation: ray 6s linear infinite;
}

.delay-200 {
  animation-delay: 2s;
}

.delay-500 {
  animation-delay: 4s;
}
